:root {
  --yellow: #FFC700;
  --green: #349A36;
  --orange: #EA6A3F;
  --black: #333;
  --white: #FFFFFF;
}

h1{
  margin: 60px;
}

body{
  margin: 0;
  background-color: var(--black);
}

.nav {
  display: flex;
  background-color: var(--black);
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100000000000;
}

.nav__brand {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.nav__brand{
color: var(--yellow);
font-family: "SS Nickson One";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
text-decoration: none;


}
.nav__list {
  width: 100%;
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__services {
  display: flex;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  right: 20px;
}
.nav__item {
  margin-right: 20px;
  right: 0;
  
}

.nav__link1 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "roboto";
}
.nav__link2 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "roboto";
}
.nav__link3 {
  width: 168.816px;
  height: 51.341px;
  text-decoration: none;
  background: var(--yellow);
  color: var(--green);
  font-size: 40px;
  border-radius: 16px;
  font-family: "SS Nickson One";
  padding: 5px 20px;
}

.nav__link:hover {
  color: #ddd;
}


.nav__right-section {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.nav__info {
  font-size: 1em;
  color: white;
}

.nav__dates {
  font-size: 1em;
  color: white;
}
.tercera__edition {
  left: 30px;
  rotate: -6.702deg;
  
  text-align: center;
  margin-top: 20px;
}

.hero{
  display: flex;
  height: 70vh;
  margin-top: 10vh;
}

.hero__title {
 
  width: 477.659px;
  height: 234.406px;
  transform: rotate(-6.702deg) translate(0,-50px);
  flex-shrink: 0;
 
}

.bg__hero{
  display: flex;
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: -10000000000000;
  object-fit: cover;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

.description__event {
  width: 50%;
  font-size:  80px;
  color: var(--white);
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.counter {
  color: #FFF;
  font-family: "SS Nickson One";
  font-size: 146.91px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}
.silla {
 z-index: 1000000;
 margin-right: 12px;
}

.entrance__container {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  position: relative;
}
.entrance__text {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 500;
  color: var(--white);
  z-index: 1000000;
  justify-content: center;
}
.gps__icon {
  z-index: 1000000;
}
.location__text {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 500;
  color: var(--white);
  z-index: 1000000;
  justify-content: center;
}
.location__text2 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  z-index: 1000000;
  justify-content: center;
}
.nav__subscribe-btn {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav__subscribe-btn:hover {
  background-color: #777;
}



.location__container{
  display: flex;
  .gps__icon__container{
    width: 60px;
  }
  .location__salon{
    display: flex;
    flex-direction: column;
  }
}

.fecha__container{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #FFF;
  .footer__content{
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    .button__container{
      display: flex;
      align-items: center;
      button{
      width: auto;
      font-weight: bolder;
      }
    }
    .dia{
      margin: 0 8px 0 8px;
      text-align: center;
      font-size: 100px;
      font-weight: bold;
      p{
        margin: 0;
      }
    }
    .fecha__hora{
      display: flex;
      font-family: "SS Nickson One";
      font-size: 50px;
      .fecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
      }
    }
  }
}
.nav__link4 {
  color: var(--green);
  background-color: var(--yellow);
  font-size: 40px;
  border-radius: 16px;
  font-family: "SS Nickson One";
  border : none;
  padding: 5px 20px;

}
.separador__title {
  font-family: "SS Nickson One";
  font-size: 116px;
  color: var(--white);
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 101.242px;
  flex-shrink: 0;
}